@import './../../style.scss';

.filter {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .btn--group {
    width: 15rem;
    display: flex;
    justify-content: space-between;
  }
  .btn-clear {
    min-width: 13rem;
    display: flex;
    justify-content: space-between;
  }
}
